<div *ngIf="showAddForm === false">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>E-mail adress</th>
      <th>Phone number</th>
    </tr>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.fullName }}</td>
      <td>{{ contact.emailAdress }}</td>
      <td>{{ contact.telephoneNumber }}</td>
    </tr>
  </table>

  <button class="btn btn-default pull-right" (click)="showAddForm = !showAddForm">Add adress</button>
</div>

<div *ngIf="showAddForm === true">
  <app-add-adress (updateContactList) = 'updateContactFromAddAdress($event)'> </app-add-adress>
</div>